<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Entradas</title>

<link
	href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css"
	rel="stylesheet" />
<link rel="stylesheet" type="text/css" th:href="@{/css/estiloAdmin.css}">
<script src="https://kit.fontawesome.com/7a315568f4.js"
	crossorigin="anonymous"></script>

</head>
<body class="sb-nav-fixed">

	<nav class="sb-topnav navbar navbar-expand navbar-dark bg-rmtn">
		<!-- Navbar Brand-->
		<a class="navbar-brand ps-3" th:href="@{/Admin}">RMTN</a>
		<!-- Sidebar Toggle-->
		<button
			class="text-light btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0"
			id="sidebarToggle" href="#!">
			<i class="fas fa-bars"></i>
		</button>
		<!-- Navbar Search-->
		<form
			class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
			<div class="input-group">
				<input class="form-control" type="hidden"
					placeholder="Search for..." aria-label="Search for..."
					aria-describedby="btnNavbarSearch" />

			</div>
		</form>
		<!-- Navbar-->
		<ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle" id="navbarDropdown" href="#"
				role="button" data-bs-toggle="dropdown" aria-expanded="false"><i
					class="fas fa-user fa-fw text-light"></i></a>
				<ul class="dropdown-menu dropdown-menu-end"
					aria-labelledby="navbarDropdown">
					<li><a class="dropdown-item" href="#!">Opciones</a></li>
					<li><hr class="dropdown-divider" /></li>
					<li><a class="dropdown-item" href="#!">Cerrar sesion</a></li>
				</ul></li>
		</ul>
	</nav>

	<div id="layoutSidenav">
		<div id="layoutSidenav_nav">
			<nav class="sb-sidenav accordion sb-sidenav-dark"
				id="sidenavAccordion">
				<div class="sb-sidenav-menu">

					<div class="nav">
						<div class="sb-sidenav-menu-heading text-light">Pagina
							Principal</div>
						<a class="nav-link" th:href="@{/Admin}">
							<div class="sb-nav-link-icon">
								<i class="fa fa-home text-light"></i>
							</div> Inicio


						</a> <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
							data-bs-target="#collapseUsuarios" aria-expanded="false"
							aria-controls="collapseUsuarios">
							<div class="sb-nav-link-icon">
								<i class="fa-solid fa-users text-light"></i>
							</div>Manejo de usuarios
							<div class="sb-sidenav-collapse-arrow">
								<i class="fas fa-angle-down"></i>
							</div>
						</a>
						<div class="collapse" id="collapseUsuarios"
							aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link" th:href="@{/usuario}">Usuarios</a> <a
									class="nav-link" th:href="@{/mapMailWithAttachment}">Envio
									de correos</a>
							</nav>
						</div>

						<a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
							data-bs-target="#collapseVentas" aria-expanded="false"
							aria-controls="collapseVentas">
							<div class="sb-nav-link-icon">
								<i class="fa-solid fa-shop text-light"></i>
							</div>Ventas
							<div class="sb-sidenav-collapse-arrow">
								<i class="fas fa-angle-down"></i>
							</div>
						</a>
						<div class="collapse" id="collapseVentas"
							aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link" th:href="@{/allPedi}">Pedidos</a> <a
									class="nav-link" th:href="@{/allCar}">Detalles de los
									pedidos</a>
							</nav>
						</div>

						<a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
							data-bs-target="#collapseProduccion" aria-expanded="false"
							aria-controls="collapseProduccion">
							<div class="sb-nav-link-icon">
								<i class="fa-solid fa-fire-burner text-light"></i>
							</div>Produccion
							<div class="sb-sidenav-collapse-arrow">
								<i class="fas fa-angle-down"></i>
							</div>
						</a>
						<div class="collapse" id="collapseProduccion"
							aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link" th:href="@{/allPla}">Platos</a> <a
									class="nav-link" th:href="@{/allRec}">Recetas</a>
							</nav>
						</div>


						<a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
							data-bs-target="#collapseInventario" aria-expanded="false"
							aria-controls="collapseInventario">
							<div class="sb-nav-link-icon">
								<i class="fa-solid fa-boxes-stacked text-light"></i>
							</div>Inventario
							<div class="sb-sidenav-collapse-arrow">
								<i class="fas fa-angle-down"></i>
							</div>
						</a>
						<div class="collapse" id="collapseInventario"
							aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
							<nav class="sb-sidenav-menu-nested nav">
								<a class="nav-link" th:href="@{/allEnt}">Entradas</a> <a
									class="nav-link" th:href="@{/allEmpre}">Proveedores</a> <a
									class="nav-link" th:href="@{/allInsu}">Insumos</a>
							</nav>
						</div>

					</div>
				</div>
			</nav>
		</div>
		<div id="layoutSidenav_content">
			<main>

				<div class="container-fluid px-4">
					<h1 class="mt-3">Entradas</h1>
					<ol class="breadcrumb mb-3">
						<li class="breadcrumb-item "><a class="text-danger" href="">Inicio</a></li>
						<li class="breadcrumb-item active" aria-current="page"><a
							class="text-danger" href="">Entradas</a></li>
						<li class="breadcrumb-item active" aria-current="page">Agregar</li>
					</ol>

					<div class="container">
						<div class="row justify-content-center">
							<div class="col-lg-8">
								<div class="card shadow-lg rounded-lg mt-5">
									<div class="card-header text-bg-danger">
										<h3 class="text-center font-weight-light my-4">Agregar
											una nueva entrada</h3>
									</div>
									<div class="card-body">
										<form th:action="@{/saveEnt}" th:object="${entradas}"
											method="POST">

											<input type="hidden" th:field="*{identrada}" required>

											<div class="row mb-3">

												<div class="col-md-6">
													<div class="form-floating mb-3 mb-md-0">
														<select th:field="*{insumo}" class="form-select">
															<option th:each="iL:${insumo}" th:value="${iL.idinsumo}"
																th:text="${iL.nombre_insumo}"></option>
														</select> <label>Insumo</label>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-floating">
														<input class="form-control" type="text"
															th:field="*{fecha_entrada}" readonly="readonly" required
															placeholder="Ingresa la fecha de entrada"> <label>Fecha
															de entrada</label>
													</div>
												</div>

											</div>


											<div class="row mb-3">

												<div class="col-md-6">
													<div class="form-floating mb-3 mb-md-0">
														<input class="form-control" type="number"
															th:field="*{cantidad_entrada}" required
															placeholder="Ingresa la cantidad de entrada"> <label>Cantidad
															de entrada</label>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-floating">
														<input class="form-control" type="text"
															th:field="*{insumo.unidad_medida}" readonly="readonly"
															required> <label>Unidad de medida</label>
													</div>
												</div>

											</div>


											<div class="mb-3">
												<label class="form-label">Proveedores</label>

												<table class="table">
													<tbody>
														<tr th:each="eL : ${list_empresas}">
															<td th:text="${eL.nombre_empresa}"></td>
															<td
																style="width: 10px; display: flex; justify-content: center;">
																<input type="checkbox" class="form-check"
																th:value="${eL.idempresa_pro}"
																th:field="*{list_empresa_pro}" />
															</td>
														</tr>
													</tbody>
												</table>
											</div>

											<br>
											<div class="mt-4 mb-0">
												<div class="d-grid">
													<button class="btn btn-danger" type="submit">Guardar</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<br> <br> <br>
			</main>
			<footer class="py-4 bg-light mt-auto">
				<div class="container-fluid px-4">
					<div
						class="d-flex align-items-center justify-content-between small">
						<div class="text-muted">Copyright &copy; R.M.T.N 2023</div>
					</div>
				</div>
			</footer>

		</div>
	</div>




	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"
		crossorigin="anonymous"></script>
	<script th:src="@{/js/admin.js}"></script>
	<script th:src="@{/js/datatable.js}"></script>
	<script th:src="@{/js/datatables.js}"></script>
</body>
</html>
